<ion-view title="User Configration">
    <ion-content overflow-scroll="true" padding="'true'" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-select" name="SelServer">
                    <span class="input-label">Select Server</span>                   
					<select ng-model="server" ng-options="item.server for item in items"></select>
                </label>
                <label class="item item-input" name="txtGroup">
                    <span class="input-label">Group</span>
                    <input type="text" placeholder="Group" ng-model="groupname" >
                </label>
                <label class="item item-input" name="txtRequestId">
                    <span class="input-label">Request Id</span>
                    <input type="number" placeholder="Request Id" ng-model="reqId" >
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <div class="button-bar">
                <button class="button button-assertive button-block" ng-click="handleReset()">Cancel</button>
                <button class="button button-positive button-block" ng-click="redirect(server, groupname, reqId)">Submit</button>
            </div>
        </form>
    </ion-content>
</ion-view>