<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.csgtools667618" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>CSG_Tools</name>
  <description>
        CISCO CSG Tools Mobile App.
    </description>
  <author email="chkapoor@cisco.com" href="http://example.com.com/">
      Chetan Kapoor
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <feature name="InAppBrowser">
    <param name="android-package" value="org.apache.cordova.InAppBrowser" />
  </feature>
  <feature name="Storage">
    <param name="android-package" value="org.apache.cordova.Storage" />
  </feature>
  <feature name="PushPlugin">
    <param name="android-package" value="com.adobe.plugins.pushplugin" />
  </feature>
</widget>