<ion-view title="User Tools">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
			<ion-item class="item-thumbnail-left item-button-right item-icon-right"  href="#/side-menu21/user_config?tooldata={{listItem}}" ng-repeat="listItem in listItems track by $index">
				<img ng-src="img/{{listItem.tool_name | lowercase}}.png" >
				<h2>{{listItem.tool_name}}</h2>
				<label>Item</label>   
                <button class="button button-clear icon ion-star {{listItem.is_favorite ? 'button-energized': 'button-light'}} icon-right"  
                    ng-click="callFavorite($event,listItem.is_favorite,$index,listItem.tool_name);" ></button>             
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>